* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-color: #d2dbdd; */
}

body {
  font-family: Arial, sans-serif;
  background-color: #d2dbdd;
}

.cards {
  width: 100%;
  height: auto;
}

.card {
  width: 250px;
  margin: 8%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.4s ease;
  background-color: #fff;
  float:  left;
  
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__info {
  padding: 16px;
}

.card__category {
  font-size: 12px;
  color: #999;
  text-transform: uppercase;
}

.card__title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  background-color: #e50914;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b2070f;
}

.heading_style{
  padding: 30px 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
